[build]
  publish = "src"
  command = ""

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  force = true

[[headers]]
  for = "/cv/*.pdf"
  [headers.values]
    Cache-Control = "no-cache, no-store, must-revalidate"
