<section id="habilidades" class="skills-section content-section" data-aos="fade-up">
    <div class="section-header">
        <h2 class="section-title">Habilidades</h2>
    </div>
    
    <div class="skills-container">
        <div class="skills-grid">
            <div class="skill-item" data-aos="fade-up" data-aos-delay="50">
                <div class="skill-icon">
                    <img src="assets/css/images/ANGULAR.png" alt="Angular">
                </div>
                <span class="skill-name">Angular</span>
            </div>
            
            <div class="skill-item" data-aos="fade-up" data-aos-delay="100">
                <div class="skill-icon">
                    <img src="assets/css/images/HTML.png" alt="HTML5">
                </div>
                <span class="skill-name">HTML5</span>
            </div>
            
            <div class="skill-item" data-aos="fade-up" data-aos-delay="150">
                <div class="skill-icon">
                    <img src="assets/css/images/CSS.png" alt="CSS3">
                </div>
                <span class="skill-name">CSS3</span>
            </div>
            
            <div class="skill-item" data-aos="fade-up" data-aos-delay="200">
                <div class="skill-icon">
                    <img src="assets/css/images/JS.png" alt="JavaScript">
                </div>
                <span class="skill-name">JavaScript</span>
            </div>
            
            <div class="skill-item" data-aos="fade-up" data-aos-delay="250">
                <div class="skill-icon">
                    <img src="assets/css/images/MYSQL.png" alt="MySQL">
                </div>
                <span class="skill-name">MySQL</span>
            </div>
            
            <div class="skill-item" data-aos="fade-up" data-aos-delay="300">
                <div class="skill-icon">
                    <img src="assets/css/images/PYTHON.png" alt="Python">
                </div>
                <span class="skill-name">Python</span>
            </div>
            
            <div class="skill-item" data-aos="fade-up" data-aos-delay="350">
                <div class="skill-icon">
                    <img src="assets/css/images/POSTGRESS.png" alt="PostgreSQL">
                </div>
                <span class="skill-name">PostgreSQL</span>
            </div>
            
            <div class="skill-item" data-aos="fade-up" data-aos-delay="400">
                <div class="skill-icon">
                    <img src="assets/css/images/GITLAB.png" alt="GitLab">
                </div>
                <span class="skill-name">GitLab</span>
            </div>
            
            <div class="skill-item" data-aos="fade-up" data-aos-delay="450">
                <div class="skill-icon">
                    <img src="assets/css/images/GITHUB.png" alt="GitHub">
                </div>
                <span class="skill-name">GitHub</span>
            </div>
            
            <div class="skill-item" data-aos="fade-up" data-aos-delay="500">
                <div class="skill-icon">
                    <img src="assets/css/images/AWS.png" alt="AWS">
                </div>
                <span class="skill-name">AWS</span>
            </div>
        </div>
    </div>
</section>
